.carousel-container {
  position: relative;
}

.carousel-overlay {
  background: linear-gradient(
    to right,
    rgb(243, 244, 246) 0%,
    rgba(243, 244, 246, 0) 25%,
    rgba(243, 244, 246, 0) 75%,
    rgb(243, 244, 246) 100%
  );
  z-index: 2;
}

.custom-carousel .slide {
  transition: all 0.7s ease;
}

/* Carousel button styles */
.custom-carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5) !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  opacity: 0.8 !important;
  transition: all 0.3s ease !important;
  z-index: 3 !important;  /* Ensure arrows are above the overlay */
}

.custom-carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.7) !important;
  opacity: 1 !important;
}

.custom-carousel .control-prev {
  left: 20px !important;
}

.custom-carousel .control-next {
  right: 20px !important;
}

.custom-carousel .control-arrow::before {
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  margin: 0 !important;
  top: 50% !important;
  position: absolute !important;
  transform: translateY(-50%) !important;
}

.custom-carousel .control-prev::before {
  border-right: 15px solid #fff !important;
  right: 22px !important;
}

.custom-carousel .control-next::before {
  border-left: 15px solid #fff !important;
  left: 22px !important;
}
